<div ui-view="tabContent">
    
</div>
<div class="tabs tabs-footer tabs-overflow">
    <a class="tab-item" data-prevent-scroll="true" nav-transition="none" ng-class="{'tab-item-active': currentPath.indexOf('user_about') == -1 && currentPath.indexOf('user_friends') == -1 && currentPath.indexOf('user_photos') == -1 && currentPath.indexOf('user_points') == -1}" ng-href="#/app/user/{{iUserId}}">{{'Activity' | translate}}</a>
    <a class="tab-item" data-prevent-scroll="true" nav-transition="none" ng-class="{'tab-item-active': currentPath == '/app/user_about/' + iUserId}" ng-href="#/app/user_about/{{iUserId}}">{{'About' | translate}}</a>
    <a class="tab-item" data-prevent-scroll="true" nav-transition="none" ng-class="{'tab-item-active': currentPath == '/app/user_friends/' + iUserId}" ng-href="#/app/user_friends/{{iUserId}}">{{'Friends' | translate}}</a>
    <a class="tab-item" data-prevent-scroll="true" nav-transition="none" ng-class="{'tab-item-active': currentPath == '/app/user_photos/' + iUserId}" ng-href="#/app/user_photos/{{iUserId}}">{{'Photos' | translate}}</a>
    <a ng-show="bAllowShowPoints" class="tab-item" data-prevent-scroll="true" nav-transition="none" ng-class="{'tab-item-active': currentPath == '/app/user_points/' + iUserId}" ng-href="#/app/user_points/{{iUserId}}">{{'Activity Points' | translate}}</a>
</div>